<!DOCTYPE html>
<html>
  <head>
    <title>Checkout</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Verify Payment</h1>
    <p>You need to verify your credit card for recurring billing (ad hoc payment).</p>
      
      <form action="https://sandbox.payfast.co.za/eng/process" method="POST">
      <!-- <form action="https://www.payfast.co.za/eng/process" method="POST"> -->
        <!-- <input type="hidden" name="merchant_id" value="12925581"> 
        <input type="hidden" name="merchant_key" value="metajukwvjt8u"> -->

        <input type="hidden" name="merchant_id" value="10000100">
        <input type="hidden" name="merchant_key" value="46f0cd694581a">

        <input type="hidden" name="return_url" value="https://acua-node.herokuapp.com/payment/return?userId=<%= userId %>">
        <input type="hidden" name="cancel_url" value="https://acua-node.herokuapp.com/payment/cancel">
        <input type="hidden" name="notify_url" value="https://acua-node.herokuapp.com/payment/notify">

        <input type="hidden" name="item_name" value="verification credit card">
        <input type="hidden" name="item_description" value="">
        <input type="hidden" name="amount" value="5">
        
        <!-- <input type="hidden" name="subscription_type" value="2">
        <input type="hidden" name="payment_method" value="cc"> -->

        <input type="submit" value="Verify Now" />
      </form>
  </body>
</html>
